[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
boto3 = "*"
requests = "*"
kagglehub = "*"
kaggle = "*"
unzip = "*"

[dev-packages]

[requires]
python_version = "3.12"
